<header class="app-header">
  <h1>🎶</h1>
</header>

<style is:global>
  .app-header {
    box-shadow: var(--shadow-elevation-low);
    margin-bottom: 20px;
    padding: 20px 10px;
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: white;
    view-transition-name: app-header;
    text-align: center;
  }

  .app-header h1 {
    margin: 0;
    font-size: 22px;
  }
</style>
