---
export interface Props {
  isRounded?: boolean
}

const { isRounded } = Astro.props
---

<div
  class="video-container"
  data-persist-container="true"
  style={`
  --borderRadius: ${isRounded ? '2rem' : '0'};
`}
>
  <video loop muted autoplay data-persist="true" class="playlist-background">
    <source src="/purple-bg-video.mp4" type="video/mp4" />
  </video>
</div>

<style is:inline>
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--borderRadius);
  }
</style>
