---
import PlayerControls from './PlayerControls.astro'

export interface Props {
  backgroundColor: string
  title: string
  media: {
    type: string
    url: string
  }
}

const { title, backgroundColor, media } = Astro.props
---

<div
  class="card-media"
  style={`
  --marginTop: ${media.type === 'image' ? '20px' : '0'};
`}
>
  {
    media.type === 'image' ? (
      <img src={media.url} alt={title} class="playlist-image" />
    ) : (
      <div data-persist-container="true">
        <video loop muted autoplay playsinline class="playlist-image" data-persist="true">
          <source src={media.url} type="video/mp4" />
        </video>
      </div>
    )
  }
  <PlayerControls />
  <!-- <div class="card-media-overlay playlist-overlay"></div> -->
</div>

<style is:inline>
  .card-media {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: var(--marginTop);
    width: 100%;
  }

  .card-media .card-media-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px;
    background: linear-gradient(to top, var(--backgroundColor), transparent);
    border-radius: 2rem;
  }

  .card-media img {
    display: block;
    max-height: 360px;
  }
</style>
