---
import AppHeader from '../../components/AppHeader.astro'
import Card from '../../components/Card.astro'
import data from '../../data.json'
---

<AppHeader />
<main class="app-container">
  <div class="card-list">
    {data.map((card) => <Card {...card} />)}
  </div>
  <footer>
    <p>
      This site is a demo of how to persist animating elements across navigation
      events using the
      <a
        href="https://developer.chrome.com/docs/web-platform/view-transitions/"
        target="_blank"
        rel="noopener"
      >
        View Transitions API
      </a>
      and the
      <a
        href="https://developer.chrome.com/docs/web-platform/navigation-api/"
        target="_blank"
        rel="noopener"
      >
        Navigation API
      </a>. Both APIs are available in Chrome 111+.
    </p>
    <p>
      Made with <a href="https://astro.build" target="_blank" rel="noopener"
        >Astro</a
      >. Based on the <a
        href="https://dribbble.com/shots/4650389-Music-Playlist-App-Interaction"
        target="_blank"
        rel="noopener">original concept</a
      > by Ehsan Rahimi. Check out the <a
        href="https://github.com/Charca/view-transitions-live"
        target="_blank"
        rel="noopener">source code on Github</a
      >, and this
      <a
        href="https://simple-set-demos.glitch.me/video/"
        target="_blank"
        rel="noopener">minimal</a
      > demo by
      <a href="https://twitter.com/jaffathecake" target="_blank" rel="noopener"
        >Jake Archibald</a
      > for the smooth video transition.
    </p>
  </footer>
</main>

<style is:inline>
  .app-container {
    margin: auto;
    padding: 0 1.5rem 1.5rem;
    max-width: 600px;
  }

  .app-container .card-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .app-container footer {
    padding: 40px 0px;
  }
</style>
